<?xml version="1.0"?>
<config>
    <modules>
        <Genome_Genome>
            <version>0.0.1</version>
        </Genome_Genome>
    </modules>
    <frontend>
        <routers>
            <genome>
                <use>standard</use>
                <args>
                    <module>Genome_Genome</module>
                    <frontName>genome</frontName>
                </args>
            </genome>
        </routers>
        <layout>
            <updates>
                <genome>
                    <file>genome.xml</file>
                </genome>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <genome>
                <class>Genome_Genome_Model</class>
            </genome>
        </models>
        <blocks>
            <genome>
                <class>Genome_Genome_Block</class>
            </genome>
        </blocks>
        <helpers>
            <genome>
                <class>Genome_Genome_Helper</class>
            </genome>
        </helpers>
		<events>
			<resource_get_tablename>
				<observers>
					<genome_genome_model_observer>
						<class>Genome_Genome_Model_Observer</class>
						<method>addAutoloader</method>
					</genome_genome_model_observer>
				</observers>
			</resource_get_tablename>
		</events>
	</global>
    <default>
        <payment>
            <genome_iframe>
                <title>Genome</title>
                <active>1</active>
                <model>genome/method_iframe</model>
                <order_status>pending_payment</order_status>
                <debug_mode>0</debug_mode>
                <genome_iframe_width>auto</genome_iframe_width>
                <genome_iframe_height>auto</genome_iframe_height>
            </genome_iframe>
        </payment>
    </default>
</config>